<div bsModal #editChannelModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: 'static',  keyboard: false}">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">
            <div class="d-flex align-items-center">
                Edit channel
              <div *ngIf="f.thumbnailUrl.value" class="avatar pl-2 d-flex align-items-center">
                <img src="{{f.thumbnailUrl.value}}" class="img-avatar">
              </div>
            </div>
          </h4>
        </div>
        <div class="modal-body">
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <!-- Headline -->
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-heading"></i></span>
                </div>
                <input
                  formControlName="headline"
                  type="text" 
                  id="headline-user" 
                  name="headline-user" 
                  class="form-control" 
                  placeholder="Headline" 
                  [ngClass]="{ 'is-invalid': submitted && f.headline.errors }"
                />
                <div *ngIf="submitted && f.headline.errors" class="invalid-feedback">
                  <div *ngIf="f.headline.errors.required">Headline is required</div>
                </div>
              </div>
  
              <!-- Alternate Name -->
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-signature"></i></span>
                </div>
                <input
                  formControlName="alternateName"
                  type="text" 
                  id="alternateName-user" 
                  name="alternateName-user" 
                  class="form-control" 
                  placeholder="Alternate name"
                  [ngClass]="{ 'is-invalid': submitted && f.alternateName.errors }"
                />
                <div *ngIf="submitted && f.alternateName.errors" class="invalid-feedback">
                  <div *ngIf="f.alternateName.errors.required">Alternate name is required</div>
                </div>
              </div>
  
              <!-- Thumbnail Url -->
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-link"></i></span>
                </div>
                <input
                  formControlName="thumbnailUrl"
                  type="text" 
                  id="thumbnailUrl-user" 
                  name="thumbnailUrl-user" 
                  class="form-control" 
                  placeholder="Thumbnail url" 
                  [ngClass]="{ 'is-invalid': submitted && f.thumbnailUrl.errors }"
                />
                <div *ngIf="submitted && f.thumbnailUrl.errors" class="invalid-feedback">
                  <div *ngIf="f.thumbnailUrl.errors.invalidUrl">Url is invalid</div>
                </div>
              </div>
            </div>
  
            <!-- Channel keywords -->
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Channel keywords</h5>
                <h4 class="d-flex flex-wrap">
                  <spam *ngFor="let keyword of keywords" class="badge badge-pill badge-primary m-1">
                    <div class="d-flex align-items-center">
                        <div class="pb-1 mr-2">{{keyword}}</div>
                        <button (click)="removeKeyword(keyword)" type="button" class="btn btn-sm btn-ghost-light btn-pill py-0"><i class="fa fa-light fa-times"></i></button>
                    </div>
                  </spam>
                </h4>
                <div class="input-group">
                  <input formControlName="keyword" type="text" id="keyword-user" name="keyword-user" class="form-control" placeholder="Keyword">
                  <span class="input-group-append">
                    <button [disabled]="!this.form.controls['keyword'].value.trim()" (click)="appendKeyword()" type="button" class="btn btn-primary">Add</button>
                  </span>
                </div>
              </div>
            </div>
  
            <!-- Actions -->
            <div class="form-group form-actions">
              <div class="btn-group d-flex justify-content-between">
                <button type="button" (click)="onReset()" class="btn btn-pill btn-sm btn-secondary mr-2">Cancel</button>
                <button type="submit" class="btn btn-pill btn-sm btn-primary">
                  <div *ngIf="loading" class="spinner-border spinner-border-sm" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
                  <span>
                    Update
                  </span>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  