
.editor {
    .ql-toolbar.ql-snow {
        border-left:  none;
        border-right: none;
    }
    .ql-container.ql-snow {
        border: none;
    }
    .ql-editor {
        word-break: break-all;
    }
}
