<div [formGroup]="form">
  <quill-editor
    class="editor"
    placeholder="Enter a message"
    formControlName="input"
    [modules]="quillConfig"
    >
  </quill-editor>
</div>
<div class="w-100 d-flex justify-content-between align-items-center p-2">
  <div class="font-weight-light font-italic">{{strip(f.input.value)}} chars</div>
  <button (click)="postMessage()" [disabled]="strip(f.input.value) === 0 || disabled" type="button" class="btn btn-sm btn-pill btn-primary"><i class="fa fa-light fa-paper-plane mr-2"></i>Send</button>
</div>
