<div class="error_container">
    <div class="pt-2 pr-4">
        <div *ngFor="let alert of alertsDismiss">
            <alert type="danger" [dismissOnTimeout]="dismissOnTimeout" [dismissible]="dismissible">{{ alert }}</alert>
        </div>
    </div>
</div>
