<div class="d-flex flex-column h-100">
    <div class="flex-grow-1 d-flex align-items-center justify-content-center overflow-hidden">
      <ng-container 
        *ngTemplateOutlet="loadingInitMessages || loadingChannel ? contentLoader: dataContent">
      </ng-container>
        <ng-template #contentLoader>
            <div class="w-100 text-center p-5"><div class="spinner-border text-secondary" role="status"></div></div>
        </ng-template>
        <ng-template #dataContent>
            <ng-container 
                *ngTemplateOutlet="(dataService._messages$ | async).length ? messagesContent: noContent">
            </ng-container>
            <ng-template #messagesContent>
                <im-content-messages (toggleReaction)="reactionAction($event)" (fetchMore)="fetchMore()" (deleteMessage)="deleteMessage($event)" [disabled]="disabled" [isLoading]="loadingMessages"></im-content-messages>
            </ng-template>
            <ng-template #noContent>
                <i>No messages found!</i>
            </ng-template>
        </ng-template>
    </div>
    <im-content-actions [selectedId]="selectedId"></im-content-actions>
</div>
