<div *ngIf="room" bsModal #deleteChannel="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="d-flex align-items-center">
          <h4 class="modal-title">Deleting channel <b>{{room.headline}}</b></h4>
        </div>
      </div>
      <div class="modal-body py-0">
        <h6>
          Are you sure for you want to continue?
        </h6>
      </div>
      <div class="modal-footer">
        <div class="btn-group d-flex justify-content-between w-100">
          <button type="button" class="btn btn-pill btn-sm btn-secondary mr-2" (click)="deleteChannel.hide()">Close</button>
          <button (click)="delete()" type="button" class="btn btn-pill btn-sm btn-danger">
            <div *ngIf="loading" class="spinner-border spinner-border-sm" role="status">
              <span class="sr-only">Loading...</span>
            </div>
            <span>
              Delete
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>