<div bsModal #addMemberChannelModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: 'static',  keyboard: false}">
    <div class="modal-dialog modal-md" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="d-flex align-items-center">
            <h4 class="modal-title">{{ currentUser ? 'Edit user' : 'Add a new member'}}</h4>
          </div>
        </div>
        <div class="modal-body">
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                </div>
                <input
                  formControlName="email"
                  type="email" 
                  id="email-user" 
                  name="email-user" 
                  class="form-control" 
                  placeholder="Email" 
                  autocomplete="email"
                  [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">Email is required</div>
                  <div *ngIf="f.email.errors.email">Email is invalid</div>
                  <div *ngIf="f.email.errors.notUniqueEmail">Email already exists</div>
                </div>
              </div>
            </div>
            <div class="form-group form-actions">
              <div class="btn-group d-flex justify-content-between">
                <button type="button" (click)="onReset()" class="btn btn-pill btn-sm btn-secondary mr-2">Cancel</button>
                <button type="submit" class="btn btn-pill btn-sm btn-primary">{{ currentUser ? 'Edit' : 'Add'}}</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
