<div [ngStyle]="styleObject()" class="layout-im d-flex flex-column card">
  <im-header></im-header>
  <div class="layout__content d-flex">
    <im-sidebar [loading]="loading" (openAddChannelModal)="openAddChannel($event)"></im-sidebar>
    <div [ngClass]="{ open: dataService._openSidebar$ | async }" class="page-content w-100">
        <router-outlet></router-outlet>
    </div>
  </div>
  <!-- Add Channel Modal -->
  <im-add-channel (newChannel)="newChannel($event)"></im-add-channel>
</div>
<im-error></im-error>