@import '~quill/dist/quill.snow.css';

.layout-im {
  position: relative;
    im-sidebar {
        z-index: 2;
   }

   .layout__content {
    flex-grow: 1;
    overflow: hidden;
   }

  @media screen and (max-width: 768px) {
    .layout__content {
      position: relative;
      .page-content {
        position: absolute;
        height: 100%;
        &.open {
         background: var(--gray-100);
         opacity: 0.5;
         pointer-events: none;
        }
      }
    }
  }
  im-empty-content, im-content {
    height: 100%;
    display: block;
  }
}

.tooltip-inner {
  max-width: unset !important;
  width: unset !important;
  text-align: start !important;
}
.tooltip {
  padding: 0;
}

.tooltip-arrow.arrow {
  display: none;
}