<div *ngIf="members.length">
    <h6>New members</h6>
    <div class="row">
      <div class="col-lg-12">
        <table class="table table-bordered table-responsive-lg table-hover">
          <thead>
            <tr>
              <th>Email</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of members | paginationPipe:currentPage:maxSize:totalItems">
              <td>{{user.name}}</td>
              <td>
                <button (click)="edit(user)" type="button" class="btn btn-sm btn-ghost-secondary btn-pill"><i class="fa fa-light fa-edit"></i></button>
                <button (click)="remove(user)" type="button" class="btn btn-sm btn-ghost-danger btn-pill"><i class="fa fa-light fa-trash"></i></button>
              </td>
            </tr>
          </tbody>
      </table>
      </div>
    </div>
    <pagination
       *ngIf="members.length > maxSize"
        [totalItems]="totalItems"
        (pageChanged)="pageChanged($event)"
        [itemsPerPage] = "maxSize"
        [maxSize]="maxSize"
        class="pagination-sm d-flex justify-content-end"
        previousText="&lsaquo;" 
        nextText="&rsaquo;" 
        firstText="&laquo;" 
        lastText="&raquo;"
        [boundaryLinks]="true" 
        [rotate]="false"
      ></pagination>
  </div>