<div *ngIf="members.length">
    <h6>Current members</h6>
    <div class="row">
      <div class="col-lg-12">
        <table class="table table-bordered table-responsive-lg table-hover">
          <thead>
            <tr>
              <th>Email</th>
              <th>Description</th>
              <th>Date registered</th>
              <th>Type</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of members | paginationPipe:currentPage:maxSize:totalItems">
              <td>{{user.name}}</td>
              <td>{{user.description}}</td>
              <td>{{user.dateCreated | date: 'EEEE, MMMM d, yyyy hh:mm:ss a'}}</td>
              <td>
                <span [class]="user.class">{{user.additionalType}}</span>
              </td>
              <td>
                <button [disabled]="members.length === 1 || user.name === currentUser.name" (click)="remove(user)" type="button" class="btn btn-sm btn-ghost-danger btn-pill"><i class="fa fa-light fa-trash d-flex"></i></button>
              </td>
            </tr>
          </tbody>
      </table>
      </div>
    </div>
    <pagination
        *ngIf="members.length > maxSize"
        [totalItems]="totalItems"
        (pageChanged)="pageChanged($event)"
        [itemsPerPage] = "maxSize"
        [maxSize]="maxSize"
        class="pagination-sm d-flex justify-content-end"
        previousText="&lsaquo;" 
        nextText="&rsaquo;" 
        firstText="&laquo;" 
        lastText="&raquo;"
        [boundaryLinks]="true" 
        [rotate]="false"
   ></pagination>
</div>
