<div #chatScroll class="content-results py-2 pr-4" (scroll)="onScroll($event)">
    <div *ngFor="let message of messages; trackBy:trackByIndex">
        <div [ngClass]="user.id === message.sender.id ? 'justify-content-end' : 'justify-content-start'" class="d-flex">
            <div [ngStyle]="styleObject()" class="d-flex flex-column" [ngClass]="user.id === message.sender.id ? 'align-items-end' : 'align-items-start'">
                <small [ngClass]="{'pt-2': message.extraPadding}" *ngIf="message.hasName" class="font-weight-light text-muted">{{message.sender.name}}</small>
                <div class="d-flex align-items-center w-100" [ngClass]="user.id === message.sender.id ? 'justify-content-end' : 'justify-content-start'">
                    <ng-container *ngIf="user.id !== message.sender.id; else buttons"></ng-container>
                    <div class="badge text-light p-2 w-100" [ngClass]="user.id === message.sender.id ? 'badge-primary' : 'badge-light'" [tooltip]="tolTemplate" [placement]="user.id === message.sender.id ? 'left' : 'right'">
                        <div class="inner__message" [innerHTML]="message.body | noSanitize"></div>
                    </div>
                    <ng-container *ngIf="user.id === message.sender.id; else buttons"></ng-container>
                    <ng-template #tolTemplate>
                        <small class="font-weight-light text-muted text-secondary">{{message.dateCreated | date: 'dd/MM/yyyy hh:mm a'}}</small> 
                    </ng-template>

                    <ng-template #buttons>
                        <div [ngClass]="{'flex-row-reverse': user.id !== message.sender.id}" class="d-flex flex-row mx-1">
                            <div *ngIf="message.hasReply && !isReplyChat" class="btn-group">
                                <button (click)="threadMessage(message)" type="button" class="btn btn-sm btn-ghost-secondary"><i class="fas fa-reply"></i></button>
                            </div>
                            <div class="btn-group" container="body" dropdown>
                                <button dropdownToggle type="button" class="btn btn-sm btn-ghost-secondary"><i class="far fa-smile"></i></button>
                                <ul *dropdownMenu [ngClass]="user.id === message.sender.id ? 'dropdown-menu-right' : 'dropdown-menu-left'" class="dropdown-menu text-secondary" role="menu">
                                    <li *ngIf="!message.liked" role="menuitem"><button (click)="reactionAction(message, ReactionType.LIKE)" class="dropdown-item"><i class="far fa-thumbs-up text-primary"></i>Like</button></li>
                                    <li *ngIf="message.liked" role="menuitem"><button (click)="reactionAction(message, ReactionType.LIKE)" class="dropdown-item text-primary"><i class="fas fa-thumbs-up text-primary"></i>Like</button></li>
                                    <li *ngIf="!message.supered" role="menuitem"><button (click)="reactionAction(message, ReactionType.SUPER)" class="dropdown-item"><i class="far fa-heart text-danger"></i>Super</button></li>
                                    <li *ngIf="message.supered" role="menuitem"><button (click)="reactionAction(message, ReactionType.SUPER)" class="dropdown-item text-danger"><i class="fas fa-heart text-danger"></i>Super</button></li>
                                </ul>
                            </div>
                            <div class="btn-group" container="body" dropdown>
                                <button dropdownToggle type="button" class="btn btn-sm btn-ghost-secondary"><i class="fas fa-ellipsis-v"></i></button>
                                <ul *dropdownMenu [ngClass]="user.id === message.sender.id ? 'dropdown-menu-right' : 'dropdown-menu-left'" class="dropdown-menu text-secondary" role="menu">
                                    <li *ngIf="!isReplyChat" role="menuitem"><button (click)="threadMessage(message)" class="dropdown-item"><i class="fas fa-reply"></i>Thread</button></li>
                                    <li *ngIf="user.id === message.sender.id && !isReplyChat" class="divider dropdown-divider"></li>
                                    <li *ngIf="user.id === message.sender.id" role="menuitem"><button (click)="deleteAction(message)" class="dropdown-item btn-ghost-danger"><i class="far fa-trash-alt"></i>Delete</button></li>
                                </ul>
                            </div>
                          </div>
                    </ng-template>
                </div>
                <div class="d-flex align-items-center reaction__section">
                    <div *ngIf="message.likes.length" container="body" [tooltip]="message.likes.length && tolLikesTemplate" [placement]="user.id === message.sender.id ? 'left' : 'right'" class="d-flex align-items-baseline pr-1">
                        <div class="pr-1 text-secondary">
                            {{message.likes.length}}
                        </div>
                            <i [ngClass]="message.liked ? 'fas' : 'far'" class="fa-thumbs-up text-primary"></i>
                    </div>
                    <div *ngIf="message.super.length" container="body" [tooltip]="message.super.length && tolSuperTemplate" [placement]="user.id === message.sender.id ? 'left' : 'right'" class="d-flex align-items-baseline">
                        <div class="pr-1 text-secondary">
                            {{message.super.length}}
                        </div>
                        <i [ngClass]="message.supered ? 'fas' : 'far'" class="fa-heart text-danger"></i>
                    </div>
                    <ng-template #tolSuperTemplate>
                        <div *ngFor="let member of message.super">
                            <small class="font-weight-light text-muted">
                                {{member.name}}<span *ngIf="member.name === user.name"> (You)</span>
                            </small>  
                        </div>
                    </ng-template>
                    <ng-template #tolLikesTemplate>
                        <div *ngFor="let member of message.likes">
                            <small class="font-weight-light text-muted">
                                {{member.name}}<span *ngIf="member.name === user.name"> (You)</span>
                            </small>
                        </div>
                    </ng-template>         
                </div>
                <small *ngIf="user.id !== message.sender.id" class="font-weight-light text-muted">{{message.sender.name}}</small>
            </div>
        </div>
    </div>
</div>
<im-content-thread *ngIf="!isReplyChat"></im-content-thread>